    
<header >
    <div class="header ">
        <div class="header__container container d-flex align-items-center h-100">
            <div>
                <img class="header__container__logo" src="assets/img/image.png" alt="Live Bee Removal">
            </div>
            <div class="header__container__location">
                <i class="fa-solid fa-location-dot header__container__location__icon pink-color"></i> 
                Martin, Port St Lucie,<br>Palm Beach Counties FL
            </div>          
            <div class="header__container__social pink-color">
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-regular fa-envelope"></i>
                <i class="header__container__social__phone pink-color fa-solid fa-phone"></i>
            </div>
            <div class="header__container__contact">
                <p class=" header__container__contact__us pink-color">Contact Us for a Free estimation</p>
                <p class="header__container__contact__p">772-486-2688 / 772-779-1594</p>
                <p class="header__container__contact__free__es">para Español</p>

            </div>


        </div>
    </div>
    <div class="header__movil">
        <div class="header__movil__container">
            <div class="header__movil__container__contact">
                <p class="header__movil__container__contact__us pink-color">Contact Us for a Free estimation</p>
                <p class="header__movil__container__contact__us__cell pink-color">Contact Us for a <br>Free estimation</p>
                <p class="header__movil__container__contact__p">
                    772-486-2688 / 772-779-1594 
                    <br>
                    <span class="header__movil__container__contact__free__es" >para Español</span>
                </p>             
            </div>
            <p class="header__movil__container__contact__p__cell">
                772-486-2688
                <br>
                <br>
                <br>               
            </p> 
            <p class="header__movil__container__contact__p__cell">
               772-779-1594 
                <br>
                <span class="header__movil__container__contact__free__es__cell" >para Español</span>
            </p> 
            <div class="header__movil__menu2 container">    
                <div class="header__movil__container__social pink-color">
                    <i class="fa-brands fa-whatsapp"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-regular fa-envelope"></i>
                    <i class="header__container__social__phone pink-color fa-solid fa-phone"></i>
                </div>
                
                <div class="header__container__location">                     
                    <div class="header__container__location">
                        <i class="fa-solid fa-location-dot header__container__location__icon pink-color"></i> 
                        Martin, Port St Lucie,<br>Palm Beach Counties FL
                    </div>                              
                </div>  
            </div>
            <div class="header__movil__menu2__cell container">    
                <div class="header__movil__container__social pink-color d-flex justify-content-center align-items-center pt-3">
                    <i class="fa-brands fa-whatsapp"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-regular fa-envelope"></i>
                    <i class="header__container__social__phone pink-color fa-solid fa-phone"></i>
                </div>
                
                <div class="header__container__location mt-1 ">                     
                    <div class="header__container__location">
                        <i class="fa-solid fa-location-dot header__container__location__icon pink-color"></i> 
                        Martin, Port St Lucie,<br>Palm Beach Counties FL
                    </div>                              
                </div>  
            </div>
            
            </div>           
            <div  class="header__movil__logo" >
                <img class="header__movil__logo__img" src="assets/img/image.png" alt="Live Bee Removal">
            </div>
        </div>

    <div class="menu container">
       <div class="menu__menu ">
        <ul class="menu__menu__ul">
            <li class="menu__menu__ul__li">About Us</li>
            <li class="menu__menu__ul__li">Services</li>
            <li class="menu__menu__ul__li">Contact Us</li>
            <li class="menu__menu__ul__li">Gallery</li>
            <li class="menu__menu__ul__li">Blog</li>

        </ul>
       </div>
    </div>

    <div class="menu__menu__movil">
        <button class="menu__menu__movil__botton rounded "(click)="toggleMenu()">
            Menu
        </button>
        <div *ngIf="menuOpen" >
            <ul class="menu__menu__movil__ul">
                <li class="menu__menu__movil__ul__li">About Us</li>
                <li class="menu__menu__movil__ul__li">Services</li>
                <li class="menu__menu__movil__ul__li">Contact Us</li>
                <li class="menu__menu__movil__ul__li">Gallery</li>
                <li class="menu__menu__movil__ul__li">Blog</li>
            </ul>
        </div>
    </div>

</header>
